<div class="mt-4">
  <div>
    <a href="/me/stored/courses"> Back </a>
    <h3 class="h3">My trash</h3>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">book name</th>
        <th scope="col">cost</th>
        <th scope="col">time to create</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.cost}}</td>
          <td>{{formatdata this.createdAt}}</td>
          <td>
            <a href="" class="btn btn-restore" data-id={{this._id}}>Restore</a>
            <a
              href=""
              class="btn btn-link"
              data-id="{{this._id}}"
              data-toggle="modal"
              data-target="#delete"
            >Force delete</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center mt-4">
            Empty trash
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! hidden form }}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

{{! Confirm --delete Course}}
<div
  id="delete"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!!!</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
        >x</button>
      </div>
      <div class="modal-body">
        <p>this action could not restore. Do you still want to delete ?</p>
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-course"
          type="button"
          class="btn btn-danger"
        >Force Delete</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded',function(){ 
  var courseId;
  var deleteForm = document.forms['delete-course-form'];
  var restoreForm = document.forms['restore-course-form'];
  var btnDeleteCourse = document.getElementById('btn-delete-course')
  var restoreBtn = $('.btn-restore')

  //when dialog confirm clicked

  $('#delete').on('show.bs.modal', function(event){ 
  
  var button = $(event.relatedTarget)
  courseId = button.data('id')
  })
  
  
  btnDeleteCourse.onclick = function(){
  deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
  deleteForm.submit()
   }
  restoreBtn.click(function(e){
    e.preventDefault()
    var courseId = $(this).data('id')
    restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
    restoreForm.submit()
  })
    })
</script>